
/*********************************************************/
/*************** SETTINGS ********************************/
/*********************************************************/

.toggle-show-password{
	cursor:pointer;
}

.hide-on-start{
	display:none;
}


/*********************************************************/
/*************** TABLE STYLING ***************************/
/*********************************************************/


.mdl-data-table td {
    position: relative;
    height: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 2px 2px;
    box-sizing: border-box;
}

.mdl-data-table > .mdl-textfield {
	padding: 2px;
}

.mdl-data-table th {
	padding: 2px;
}

.white {
	background:#fff;
}

th {
	background: #eee;		
}

th.sort {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 75px;
}
th.sort:hover {
  cursor: pointer;
  text-decoration: none;
}
th.sort:focus {
  outline: none;
}
th.sort:after {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  position: relative;
  top: -10px;
  right: -5px;
}
th.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  content: "";
  position: relative;
  top: 4px;
  right: -5px;
}
th.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content: "";
  position: relative;
  top: -4px;
  right: -5px;
}

.mdl-components__warning {
    width: 100%;
    margin: 0 auto;
    background-color: #f44336;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

.mdl-components__success {
    width: 100%;
    margin: 0 auto;
    background-color: #69b3e7;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

.input-new {
	padding:10px;
	margin:10px;
	border:none;	
}

/*********************************************************/
/*************** DIALOGS *********************************/
/*********************************************************/

.dialog-container,
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.dialog-container > div {
    position: relative;
    width: 90%;
    max-width: 800px;
    min-height: 25px;
    margin: 10% auto;
    z-index: 99999;
    padding: 16px 16px 0;
}

.dialog-button-bar {
    text-align: right;
    margin-top: 8px;
}

#ajax-loader {
	width:100%;
	height:5px;
}

.loading-container > div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10% auto;
    z-index: 99999;
}

.loading-container > div > div {
    width: 100%;
    height: 100%;
}

/*********************************************************/
/*************** SELECT **********************************/
/*********************************************************/
  
select {
	cursor:pointer;
	display: block;
	width: 100%;
	padding: 4px 2px 2px 2px;
	margin: 0;
	color: inherit;
	background: transparent;
	text-align: left;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
	border-radius: 0;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none; 
}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}

select > option {
	padding:5px;
	cursor:pointer;
}

.sfdc_required {
	color:red;
}


/*********************************************************/
/*************** CODE OUTPUT *****************************/
/*********************************************************/

pre {
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	box-sizing: border-box;
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
	padding: 10px;
	margin:10px;
	color: #333;
}

/*********************************************************/
/*************** CARDS AND LISTS *************************/
/*********************************************************/
	
.mdl-list__item--x-line  {
 float:left;
 min-height:200px;
 font-size:14px;
 font-weight:400;
 letter-spacing:0;
 line-height:18px;
 height:52px;
 color:rgba(0,0,0,.54);
 display:block;
 padding:0
}

 .home-card-square.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
  }
  
.home-card-square > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color:#00bcd4;
}


/*# sourceMappingURL=admin.css */