
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mapp Integrator</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- Google Material Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- JQuery -->
	<script src="../js/jquery-1.12.4.min.js"></script>
	
	<!-- Material Design Lite CSS and JavaScript -->
	<link rel="stylesheet" href="../css/material.light_blue-cyan.min.css" />
	<script defer src="../js/material.min.js"></script>
	<!-- <script src="../js/materialize.min.js"></script> -->

	<!-- UI Material Lite Theme -->
	<link rel="stylesheet" href="../css/ui-material-lite-theme.css"/>
	<link rel="stylesheet" href="../css/admin.css" />
	<!--<link rel="stylesheet" href="../css/materialize.min.css" />-->

	<!-- List.js sorting -->
	<script src="../js/list.js"></script>
	<script src="../js/modal.js"></script>
	
	<!--getmdl-select-->   
	<link rel="stylesheet" href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
	<script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>
	
	<!-- Roboto Font -->
	<style>
		@import url('https://fonts.googleapis.com/css?family=Roboto');
	</style>	
</head>