{# sidebar.twig #}
{# admin menu, the left one in the page #}

<!-- Navigation -->
<div class="mdl-layout__drawer">
	<nav id="mdl-navigation-nav" class="mdl-navigation" aria-hidden="false">
		<ul>
			<li>
				<i class="material-icons">&#xE88A;</i>
				<a class="mdl-navigation__link" href="{{base_url}}/admin/">Home</a>
			</li>
			<li>
				<i class="material-icons">info</i>
				<a class="mdl-navigation__link" href="{{base_url}}/admin/getting-started">Getting Started</a>
			</li>
			<li>
				<i class="material-icons">settings</i>
				<a class="mdl-navigation__link" href="{{base_url}}/admin/settings">Settings</a>

			</li>
			<li>
				<i class="material-icons">map</i>
				<a class="mdl-navigation__link" href="{{base_url}}/admin/mapping">Mapping</a>
			</li>
		</ul>
	</nav>
</div>
