{% include 'admin/header.twig' %}
{% include 'admin/menu.twig' %}
{% include 'admin/sidebar.twig' %}

<main class="mdl-layout__content">

	<div class="mdl-js-layout">
	
		{# -------------------------------- #}
		{# ------------ Header------------- #}
		{# -------------------------------- #}
		<header class="mdl-layout__header ui-page-header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Settings</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation">

				</nav>
			</div>

			<!-- Page Tabs -->
			<div class="mdl-layout__tab-bar mdl-js-ripple-effect">
			  <a href="#settings-sfdc" class="mdl-layout__tab is-active">Salesforce</a>
			  <a href="#settings-cep" class="mdl-layout__tab">Mapp CEP</a>
			</div>
		</header>

		{# -------------------------------- #}
		{# ------------ Tab Content ------- #}
		{# -------------------------------- #}
		
		<!-- Content area under page header -->
		<div class="mdl-layout__content">
			{% if error %}
				<div class="mdl-components__warning">
					<b>Error:</b>
					{{message}}
				</div>
			{% endif %}
			
			{% if success %}
				<div class="mdl-components__success">
					{{message}}
				</div>
			{% endif %}
			<section class="mdl-layout__tab-panel is-active settings" id="settings-sfdc">
				<div class="ui-page-content">
					<form id="test_connection" method="GET" action="{{base_url}}/admin/settings/connection"></form>
					<form id="test_oauth_connection" method="GET" action="{{base_url}}/admin/settings/authorize"></form>
					{% include 'admin/pages/sfdc_settings_form.twig' %}
				</div>
			</section>

			<section class="mdl-layout__tab-panel settings" id="settings-cep">
				<div class="ui-page-content">
					{% include 'admin/pages/cep_settings_form.twig' %}
				</div>
			</section>
		</div>

	</div>
</main>

{% include 'admin/footer.twig' %}